/target/
/benchmark/target/

# Eclipse
/.settings
/.metadata

# IntelliJ IDEA
/.idea/dictionaries/
/.idea/workspace.xml
/.idea/uiDesigner.xml
/.idea/misc.xml
/.idea/shelf
/.idea/projectDependencies.xml
/.idea/project-color

# Mac OS/X
.DS_Store
