<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<servers>
		<server>
			<id>ossrh</id>
			<username>lihy70</username>
			<password>{QX2qXulK+IUHeFwUYfkbuDFZwDL0uNV8UDJ9Ki3xllQ=}</password>
		</server>
	</servers>

	<profiles>
		<profile>
			<id>ossrh</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<properties>
				<gpg.executable>gpg2</gpg.executable>
				<gpg.passphrase>Lhysea?12</gpg.passphrase>
			</properties>
		</profile>
	</profiles>

</settings>